// COLORS
$violet: #5964E0;
$lightViolet: #939BF4;
$veryDarkblue: #19292D;
$midnight: #121721;
$white: #FFFFFF;
$lightGray: #F4F6F8;
$gray: #9DAEC2;
$darkGray: #6E8090;
$shadow: #D7D7D7;

// FONTS
$primaryFont: 'Kumbh Sans', sans-serif;

// MEDIA QUERIES
$tablet: 768px;
$desktop: 1200px;

// LAYOUT
$navPadding: 40px;
$borderRadius: 5px;