// COLORS
$violet: #5964e0;
$lightViolet: #939bf4;
$veryLightViolet: #e9e9f4;
$veryDarkblue: #19292d;
$midnight: #121721;
$white: #ffffff;
$lightGray: #f4f6f8;
$gray: #9daec2;
$darkGray: #6e8090;
$shadow: #d7d7d7;
$searchBarGray: #19202d;
$radioButtonGray: #979797;

// FONTS
$primaryFont: "Kumbh Sans", sans-serif;

// MEDIA QUERIES
$tablet: 768px;
$desktop: 1200px;

// LAYOUT
$navPadding: 40px;
$smallBorderRadius: 3px;
$borderRadius: 6px;
$largeBorderRadius: 15px;
